<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Grinder</title>
    <link rel="icon" type="image/x-icon" href="/images/grinder.png"/>

    <!--swiper css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.4.1/swiper-bundle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.4.1/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/swiper_config.css">
    <!--index css-->
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<header th:replace="/components/header :: headers"></header>

<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <a href="#">
                <div class="text-wrap">
                    <p>✨광고</p>
                    <h2>제목 공간</h2>
                    <p>내용 공간</p>
                </div>
                <img src="/images/mainPage.png" alt="">
            </a>
        </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-box"></div>
</div>
<!-- Slider main container -->

<footer></footer>

<!--swiper js-->
<script src="/js/swiper_config.js"></script>
<script src="/js/header.js"></script>
</body>
</html>