<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Grinder</title>
    <link rel="icon" type="image/x-icon" href="/images/grinder.png"/>
</head>
<body>
<header th:fragment="headers" class="header-container">
    <nav class="header-container-navigation">
        <div class="header-container-navigation-search-box">
            <h1><a class="header_grinder_logo">그라인더 홈페이지 이동</a></h1>
            <form>
                <div class="custom-dropdown">
                    <input type="hidden" id="searchType" name="type" value="all">
                    <img src="/images/icon/search.png" alt="search"/>
                    <span class="custom-dropdown-type">전체</span>
                    <img src="/images/icon/caret-down.png" alt="arrow_down"/>
                    <ul class="custom-dropdown-content-box none">
                        <li class="custom-dropdown-content selected" data-value="all">전체</li>
                        <li class="custom-dropdown-content" data-value="cafe">카페</li>
                        <li class="custom-dropdown-content" data-value="feed">피드</li>
                        <li class="custom-dropdown-content" data-value="member">회원</li>
                    </ul>
                </div>
                <label>
                <input type="text" name="search" class="header_search" placeholder="검색어를 입력해주세요">
                </label>
                <button class="header-search-submit" type="submit">검색</button>
            </form>
        </div>

        <div class="header-container-navigation-member-information">
            <ul>
                <li><a>로그인</a></li>
                <li> | </li>
                <li><a>회원 가입</a></li>
            </ul>
        </div>
    </nav>
</header>


</body>
