@import "common.css";

.index-hot-cafe {
    margin-top: 2.1875em;
    font-size: 1.5625em;
}

.index-divide-line {
    margin: 1em 0;
    height: 0;
    border-bottom: #d0d0d0 solid 0.0625em;
}

.header-container {
    position: absolute;
    left: 50%;
    width: 100%;
    max-width: 1280px;
    padding: 0 1em;
    transform: translate(-50%);
    background-color: white;
    z-index: 1;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 11px 0 rgba(0,0,0,25%);
}

.header-container .header-container-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .header-container-navigation .header-container-navigation-search-box {
    display: flex;
    float: left;
    align-items: center;
    justify-content: space-between;
}

.header-container .header-container-navigation .header-container-navigation-search-box .header_grinder_logo {
    width: 5em;
    height: 2em;
    display: block;
    background: url("../images/grinder-logo.png") no-repeat center;
    background-size: contain;
    text-indent: -9999px;
    margin-right: 0.5em;
}

.header-container .header-container-navigation .header-container-navigation-search-box form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .header-container-navigation .header-container-navigation-search-box .custom-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5em;
    height: 2em;
    padding: 0 0.5em;
    background-color: #FFFFFF;
    border-radius: 10px 0 0 0;
    border: #B4B4B4 solid 1px;
    cursor: pointer;
}

.custom-dropdown-type {
    font-size: 0.8em;
    color: #B4B4B4;
}

/* 드롭다운 활성화 상태 스타일 */
.custom-dropdown.active .custom-dropdown-content-box {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #B4B4B4;
    border-radius: 0 0 10px 10px;
    width: 7.5em;
    z-index: 1000;
    top: 3.35em;
    left: 8.2em;
}

.custom-dropdown-content-box {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    font-size: 0.8em;
}

.custom-dropdown-content-box .custom-dropdown-content {
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-dropdown-content-box .custom-dropdown-content:hover {
    background-color: #f0f0f0;
}

.custom-dropdown-content.selected {
    background-color: #e0e0e0;
}



.header_search {
    width: 12em;
    height: 2.2em;
    border-radius: 0 0 0 0;
    font-size: 0.9em;
}

.header-search-submit {
    width: 3em;
    height: 2.6em;
    padding: 0 0.5em;
    background-color: #009B55;
    border-radius: 0 10px 10px 0;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    text-align: center;
}

