@import "common.css";

body {
    background: linear-gradient(to bottom right, #F5FFFA, #FFFFFF);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
}

.main-container .main-container-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 23em;
    padding: 1.5em 1.5em;
    border-radius: 0.8em;
    border: 1px solid #D9D9D9;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1), 2px 0px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.main-container .main-container-article .main-logo {
    width: 10em;
}

.main-container .main-container-article .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.main-container .main-container-article .form-container label {
    font-weight: bold;
    font-size: 0.9em;
    margin: 1.5em 0 0.5em;
}

.main-container .main-container-article .form-container .input-group {
    width: 100%;
    height: 3em;
    font-size: 0.8em;
    padding-left: 0.7em;
    border-radius: 0.4em;
    border: 1px solid #D9D9D9;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1), 2px 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.main-container .main-container-article .form-container span {
    color: #E10000;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.2em;
}

.main-container .main-container-article .form-container span[th\:if] {
    display: block;
}

.main-container .main-container-article .form-container #join-btn {
    width: 100%;
    height: 2em;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
    background-color: #009B55;
    margin-top: 1.5em;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

